@tailwind base;
@tailwind components;
@tailwind utilities;



* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", Helvetica, Arial,sans-serif;
  letter-spacing: 1px;
}

body {
  background: linear-gradient(135deg, #0F172A 0%, #1E1B4B 50%, #312E81 100%);
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  color: white;
  overflow: hidden;

}
#root
{
  width: 100%;
  height: 100%;
}

*::selection {
  background-color: #9069ce;
  color: #fff;
}

/* Scroll Bar - Start */

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  display: none;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #9B7CCE; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #9069ce; 
}

/* Scroll Bar - End */