@tailwind base;
@tailwind components;
@tailwind utilities;



* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: inherit;
  font-family: sans-serif;
  letter-spacing: 1px;
}

body {
  /* background: #404258; */
  background:#101112;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  color: white;
}
#root
{
  width: 100%;
  height: 100%;
  overflow: auto;

}

*::selection {
  background-color: #9069ce;
  color: #fff;
}

/* Scroll Bar - Start */

/* width */
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  display: none;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #9B7CCE; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #9069ce; 
}

/* Scroll Bar - End */